<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/style2.css">

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/interacciones2.js"></script>
	<script src="/javascripts/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/socket.io-stream.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script src="/javascripts/angularScript.js"></script>
</head>
<body ng-app="player">
	<div class="container" ng-controller="PlayerController">
		<div class="row">
			<div class="col-lg-12 colum container">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 border1"></div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border2">
					<div id="bpart1" class="row">
						<div class="col-lg-3 image">
							<img src="../images/images.png" alt="Imagen responsive">
						</div>
						<div class="col-lg-9 reproduce">
							<div id="nametitle" >
								<p id="titlesong">Bienvenido <%= user.name %></p>
								<p id="namesong">Name song</p>
								<audio id="media_player">
									<source ng-src="{{ playingUrl }}" id="playingSong" type="audio/mpeg">
									Lo sentimos, su navegador no soporta la etiqueta Audio.
								</audio>
							</div>

							<div id="buttons" >
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
								</div>
								<div id="media_controls">
									<button type="button" id="btn_backward">
										<i class="fa fa-backward"></i>
									</button>
									<button type="button" id="btn_play">
										<i class="fa fa-play"></i>
									</button>
									<button type="button" id="btn_forward">
										<i class="fa fa-forward"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<div id="lista">

								<!--{{ songs }}-->

								<div class="title">
									<p>Lista</p>
								</div>
								<div id="songs_list">
									<ul>
										<li ng-repeat="item in songs" class="song" data-url="{{item.url}}">
											<div class="play_control" ng-click="play(item.url)">
												<i class="fa fa-play"></i>
											</div>
											{{ item.name }}
										</li>
									</ul>
								</div>
								<div class="row">
									<div class="col-sm-12" id="more">
										<label>Agregar mas canciones</label>
										<div class="fileUpload btn btn-primary">
											<i class="fa fa-plus-square fa-lg"></i>
										    <input type="file" id="file" class="upload" />
										</div>
										<span>Progreso: <span id="upload_progress"></span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="bpart3">
						
					</div>
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 border1"></div>
			</div>	
		</div>	
	</div>
</body>
</html>