<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/interacciones.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
</head>
<body id="fondo">

	<div class="container ">
		<div class="row">
			<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 centro">
				<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 titulo form-signin-heading">
					Bienvenido
				</div>
				<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 titulo2 form-signin-heading">
					Inicia Sesion con...
				</div>	
				<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 Google+ ">
					<a href="media.html"><img src="images/google+.png"></a>
				</div>
				<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 titulo3">········     O     ········</div>
				<hr>
				<div class="col-lg-12 col-md-12 col col- sm- 12 col-xs-12 inputs">
					<form class="form-signin">
						<label class="textos" for="inputEmail">Email</label>

						<input  id="inputEmail" class="form-control email" placeholder="Email address" required autofocus>

						<label class="textos" for="inputPassword">Password</label>

						<input type="password" id="inputPassword" class="form-control input" placeholder="Password" required>

						<a href="media.html"><button class="btn btn-lg btn-primary btn-block" type="submit" id="ingresar">Sing in</button></a>
					</form>
				</div>
			</div>
		</div>
	</div>

	<br>
	<input type="file" id="file" />
	{{ username }}
	<p>Usuario: {{ user }}</p>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/socket.io-stream.js"></script>
	<script>
	$(function() {
	  var socket = io('http://localhost:3000');

	  $('#file').change(function(e) {
	  	console.log("emitiendo change");
	    var file = e.target.files[0];
	    var stream = ss.createStream();

	    // upload a file to the server.
	    ss(socket).emit('file', stream, {size: file.size, filename: file.name});
	    ss.createBlobReadStream(file).pipe(stream);

	    // Upload progress 
	    /*var blobStream = ss.createBlobReadStream(file);
		var size = 0;

		blobStream.on('data', function(chunk) {
		  size += chunk.length;
		  console.log(Math.floor(size / file.size * 100) + '%');
		  // -> e.g. '42%'
		});

		blobStream.pipe(stream);*/
	  });
	});
	</script>
</body>
</html>