<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/interacciones.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 colum">
				<div class="col-lg-2 border1"></div>
				<div class="col-lg-8 border2">
					<div class="col-lg-12 nameSong ">
						<p id="name">
							Nombre cancion
						</p>
					</div>
					<div class="col-lg-12 Play ">
						►
					</div>
					<div class="col-lg-12 music">
						<div class="col-lg-8 lista">
							<table class="canciones">
							  <tr>
							    <th id="textTable" class="titletable">Pista</th>
							    <th id="textTable">Nombre</th>
							  </tr>
							  <tr>
							  	<td id="Nopista">texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>
							  <tr>
							  	<td id="Nopista"> texto</td>
							  	<td id="canciones"></td>
							  </tr>							  							  
							</table>
						</div>
						<div class="col-lg-4 more">
							<div id="recuadro">
								<p id="moreSong">Agrega una canción</p>
							</div>
							<div class="smore">
								<a href="http://www.google.com">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 border1"></div>
			</div>	
		</div>	
	</div>	
</body>
</html>