body {
  background-color: #3e403c;
}
#fondo {
  background-image: url("../images/fondo.png");
  background-image: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centro {
  height: 500px;
  width: 400px;
  border: 3px solid #1c7480;
  border-radius: 20px;
  background-color: rgba(2,38,92,0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -200px;
}
.titulo {
  width: 100%;
  height: 10%;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  color: #deddd5;
  text-align: center;
  margin-top: 50px;
}
.titulo2 {
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: #deddd5;
  text-align: center;
  vertical-align: center;
}
.Google {
  width: 100%;
  height: 100%;
  text-align: center;
}
.Google img {
  height: 20%;
  opacity: 1;
}
.titulo3 {
  width: 100%;
  height: 2%;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: #deddd5;
  text-align: center;
}
.inputs {
  width: 100%;
  text-align: center;
}
.textos {
  height: 20%;
  font-size: 20px;
  font-style: normal;
  font: bold;
  font-weight: bolder;
  color: #fff;
  text-align: left;
}
input {
  width: 80%;
  height: 20%;
}
#ingresar {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border-color: #fff;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.form-signin {
  max-width: 330px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin.form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
