*{
	padding: :0;
	margin-top: 10px;
}
body{ background-color: #3E403C; }
#fondo
{
	background-image: url("../images/fondo.png"); /* Colocar una imagen de fondo*/
	background-image: no-repeat; /* no repetir la imagen en toda la pagina*/
	background-position: center center; /* alinear al centro de toda la pagina*/
	background-attachment: fixed; /* poner fijo el fondo que solo se deslicen las letras*/
	-webkit-background-size: cover; /*tamaño en exploret */
  	-moz-background-size: cover; /*tamaño en mozila */
 	-o-background-size: cover;/* navegador opera*/
  	background-size: cover; /*tamaño*/	
}
.centro{
	height: 500px;
	width: 400px;
	border: 3px solid #1C7480;
	border-radius: 20px;
	background-color: #02265c;
	opacity: .6;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -200px;*/
}
.titulo
{
	width: 100%;
	height: 10%;
	font-size: 50px;
	font-style: normal;
	font: bold;
	font-weight:bolder;
	color: #DEDDD5;
	text-align: center;
	margin-top: 50px;
}
.titulo2
{
	width: 100%;
	height: 10%;
	font-size: 20px;
	font-style: normal;
	font: bold;
	font-weight:bolder;
	color: #DEDDD5;
	text-align: center;
	vertical-align: center;
}

.Google+
{
	width: 100%;
	height: 100%;
	left: 50%;
	top: 30%;
	margin-top: -1px;
	margin-left: -100px;
	text-align: center;
}

.titulo3
{
	width: 100%;
	height: 2%;
	font-size: 20px;
	font-style: normal;
	font: bold;
	font-weight:bolder;
	color: #DEDDD5;
	text-align: center;
}

.inputs
{
	width: 100%;
	text-align: center;
}

.textos
{
	height: 20%;
 	font-size: 20px;
	font-style: normal;
	font: bold;
	font-weight:bolder;
	color: white;
	text-align: left;	
}
input
{
	width: 80%;
	height: 20%;
}
#ingresar
{
	height: 50px;
	width: 50%;
	border-radius: 10px;
	border-color: #FFFFFF;
	opacity: .7;
	color: #FFFFFF;
	font-size: 18px;
	font: bold;
	font-weight: bolder;
	font-style: normal;
	text-align: center;
}

img
{
	width: 20%;
	height: 20%;
	text-align: center;
	margin-top: -25px;
	margin-left: 130px;
}

.form-signin {
  max-width: 330px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
